# Ignora archivos del sistema Mac 
.DS_store

# Ignora la carpeta node_modules
node_modules

# Ignora las clases
Clase2.js
AndersDiego.js
Clase5.js
Desafio-Anders.zip
Clase6.js

# Ignora los archivos relacionados a API keys
.env

# Ignora archivos de configuración SASS
.sass-cache